body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  text-align: left;
  font-weight: 400;
}
h3{
  font-family: 'Big Shoulders Display', cursive;
  color: hsl(0, 0%, 95%);
  font-weight: 700;
}
button{
  background-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  border: 1px solid;
  border-color: hsl(0, 0%, 95%);
  padding: 10px 20px;
}
.b1:hover{
  background-color: hsl(31, 77%, 52%);
}
.b2:hover{
  background-color: hsl(184, 100%, 22%);
}
.b3:hover{
  background-color: hsl(179, 100%, 13%);
}
.brand{
  width: 51%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: row;
}
.sedan{
  background-color: hsl(31, 77%, 52%);
  width: 100%;
  padding: 2em;
  border-radius: 12px 0 0 12px;
}
.suv{
  background-color: hsl(184, 100%, 22%);
  width: 100%;
  padding: 2em;
}
.luxury{
  background-color: hsl(179, 100%, 13%);
  width: 100%;
  padding: 2em;
  border-radius: 0 12px 12px 0;
}

